@font-face {
  font-family: Unica;
  src: url("../font/Unica77LL-Medium.otf");
}
@font-face {
  font-family: CentB;
  src: url("../font/CentSchbook-BT-Roman_9757.ttf");
}
@font-face {
  font-family: CentBItalic;
  src: url("../font/newcenti.ttf");
}

* {
  font-family: "Times New Roman", Times, serif;
  color: rgb(0, 162, 38);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 162, 38);
  opacity: 1; /* Firefox */
}
.playGround {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
body {
  cursor: url("/img/png.png"), auto;
  margin: 0;
}

.wrapper-join {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5em;
}
.entry-button {
  position: absolute;
  width: 100%;
  top: 40%;
  display: flex;
  justify-content: space-between;
  z-index: 9999999;
}
.entry-button > div:nth-child(1) {
  margin-left: 14vh;
}
.entry-button > div:nth-child(2) {
  margin-right: 14vh;
}
.pointer {
  z-index: 9999;
  position: absolute;
  background-image: url("/img/png.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 1%;
  height: 5%;
  padding-top: 50px;
  padding-left: 50px;
  /* background-color: #fa4c3b; */
  pointer-events: none;
}
.playGround video {
  width: 25%;
  height: 200px;
  object-fit: cover;
}
#screenShare {
  /* margin-top: 20px; */
  width: 80%;
}

.sur-footer {
  z-index: 999999999;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  margin-bottom: 4rem;
  width: 100%;
  height: 3%;
  /* background-color: red; */
}
.sur-footer > button {
  margin-left: 2em;
  margin-right: 2em;
}

.timer {
  display: flex;
  align-items: center;
}

.tool-control-P > .sur-footer {
  opacity: 0;
}
footer input {
  width: 50% !important;
  height: 4vh;
  text-align: center;
}
footer input:focus {
  /* background-color: pink; */
}

.tool-control-H > footer {
  z-index: 999999999;
  width: 99%;
  display: flex;
  flex-direction: row-reverse;
  left: 0;
  height: 4vh;
  justify-content: space-around;
}
.tool-control-P > footer {
  z-index: 999999999;
  width: 99%;
  display: flex;
  flex-direction: row-reverse;
  left: 0;
  height: 4vh;
  justify-content: space-around;
}

footer > .btn:nth-child(2) {
  background-color: red;
}
input {
  border: 0px solid !important;
  border-radius: 3px;
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.1);
}

#joinMeetingName {
  border: 0px solid !important;
  margin-top: 8px;
  border-radius: 3px;
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.1);
}
#joinMeetingId {
  margin-top: 8px;
  border-radius: 3px;
  border: 0px solid !important;
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.1);
}

.meetingId-wrapper {
  position: absolute;
  display: none;
  top: 80%;
  bottom: 0;
  z-index: 9999999999;
  width: 100%;
  font-size: 80px;
  justify-content: center;
  align-items: flex-start;
}
.meetinggId-container {
  margin-top: 5px;
}
#joinleft {
  margin-bottom: 10vh;
}
.joinvid-wrap {
  overflow: hidden;
  border-radius: 20px;
}
#joinCam {
  filter: blur(10px);
  /* backdrop-filter: blur(20px); */
  /* -webkit-backdrop-filter: blur(20px); */
  /* position: absolute; */
  margin-top: 1em;
  margin-bottom: 1em;

  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform: rotate("90");
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
h1 {
  font-weight: 100;
}
audio {
  display: none;
}

.blur {
  filter: blur(10px);
}
.join-right-wrapper > div {
  margin-top: 1rem;
}
label {
  text-align: center;
}
.card {
  position: absolute;
  z-index: 9999999999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.drop-out {
  width: 500px;
  height: 400px;
  position: absolute;
  z-index: 9999999999;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  background-color: bisque;
}

.video-test {
  z-index: 9999;
  position: absolute;
  width: 68%;
  top: 50%;
  left: 20%;
}
.drop-zone {
  height: 20vh;
  margin-top: 5vh;
  background-color: blue;
  position: absolute;
  z-index: 99999999999999999;
}
.drop-zone__thumb {
  width: 100%;
  height: 50vh;
  background-position: center;
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-size: contain;
}
.btn {
  padding: 7px;
  border: none;
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.3);
  font-size: 15px !important;
  border-radius: 4px;
  background-color: white !important;
  /* color: #1e1d1c !important; */
  cursor: pointer;
  color: rgb(0, 162, 38);
}

.text-black {
  color: black;
}
.text-primary {
  color: #fa4c3b;
}

h1 {
  margin: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.primary {
  background-color: #fa4c3b;
}
.secondary {
  background-color: white;
  cursor: pointer;
  color: rgb(0, 162, 38);

  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.1);
}
.btn:hover {
  opacity: 0.7;
}

.main-bg {
  background-color: #f0f0eb;
}
.video-frame {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform: rotate("90");
  object-fit: cover;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/* *BODY  PAGE */
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* *JOINPAGE */
#joinPage {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  top: 0px;
}

/* Chat-wrapper*/
.chat-wrapper {
  /* background-color: red; */
  z-index: 999;
  height: 100vh;
  top: 0%;
  width: 100%;
  /* padding-top: 30px; */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: transparent;
  position: absolute;
  /* top: calc(50% - 300px);
  left: calc(50% - 150px); */
}
.chats__message:hover {
  transition: 300ms ease-in-out;
  font-size: 250px;
  cursor: pointer;
}
.chats__message {
  letter-spacing: -3.5px;
  line-height: 70px;

  /* -webkit-text-stroke: 1px black; */
  font-size: 90px;
  background: none;
  /* color: rgb(220, 255, 197); */
  color: rgb(0, 162, 38);
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;

  border-radius: 100px;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
  transition: 500ms ease-in-out;
}
#chats {
  transition: 1s;
  transition-timing-function: cubic-bezier(0.53, 1, 0.32, 1);
  display: flex;
  overflow: scroll;
  flex-direction: column;
  /* background-color: blue; */
  justify-content: center;
  top: 50%;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  left: 50%;
}

.hide {
  display: none;
}
.me-chat {
}
footer > button {
  /* background-color: green !important; */
  /* padding: 0px; */
}
.mute {
  margin-left: 2rem;
}

.cam {
  margin-right: 2rem;
}
.cam-container {
  overflow: hidden;
  border-radius: 10px;
}
.cam-mic-controls {
  display: none;
  position: absolute;
  z-index: 99999999999999999;
  justify-content: space-between;
  width: 100%;
  margin-top: 5vh;
}

.hidden {
  display: none;
}

.previewContainer {
  width: 100%;
  height: 100%;
  background-color: rgba(223, 223, 223, 0.1);
  transition: 500ms ease;
}

.overlayContainer {
  width: 100%;
  /* height: 100%; */
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.386);
}

/* NAV */

header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 99999;
}
nav {
  padding-top: 1.2em;
  padding-left: 1em;
  padding-right: 1em;
}

a {
  text-decoration: none;
  color: black;
}

/* TOOOL */
main {
  /* height: 100vh; */
}

.tools {
  /* position: absolute;
  width: 100%; */
}
.tool-control-H {
  display: none;
}
.tool-control-P {
  display: none;
}
.videos-wrapper {
  position: absolute;
  z-index: 100000;
  width: 100%;
  height: 100vh;
}
.videos-container {
  z-index: 3000;
  width: 100%;
  display: flex;
  position: absolute;
  top: calc(50% - 20%);
  justify-content: space-between;
  flex-direction: row;
}

.addColorBackGround {
  background-color: green !important;
  /* transition: 500ms ease-in-out; */
  transition: 1s;
  transition-timing-function: cubic-bezier(0.53, 1, 0.32, 1);
}

.videos-wrapper > video {
  width: 100%;
  transform: scale(1.2);
}
.startButtonWrapper {
  position: absolute;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 999999999999;
  height: 100vh;
  display: none;
}
.startOtherButton {
  position: absolute;
  z-index: 1;
  display: none;
  font-size: 90px !important;
  padding: 25px;
  border-radius: 10px;
}
.startButton {
  font-size: 90px !important;
  letter-spacing: -5px;
  padding: 25px;
  border-radius: 10px;
}
.imageBlock {
  width: 50%;
  background-position: center;
  background-size: cover;
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-size: contain;
}
.imageBlockWrappr {
  position: absolute;
  z-index: 9999999999;
}

.video-testWrapper {
  width: 100%;
  position: absolute;
  z-index: 999000 !important;
}
/* REDIFF */

/* SLIDER STYLING */

.slider-container {
  position: absolute;
  width: 98%;
  z-index: 100;
  bottom: 15;
  right: 0;
  margin-right: 1em;
}
.play {
  margin-left: 1em;
  height: 4vh;
  font-size: 11px !important;
}
.custom-seekbar {
  cursor: pointer;
  height: 4vh;
  border-radius: 14px;
  background-color: white;
  /* outline: thin solid white; */
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 95%;
  box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.2);
}
.custom-seekbar span {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 4vh;
  width: 0px;
}

#custom-seekbar span.hover:after {
  content: "L";
  display: block;
  position: absolute;
  /* background-color: red;
  color: red; */
  top: 0;
  right: 0;
}

/* CAM */

.videoWrapper-one {
  transform-origin: 0%;
  position: absolute;
  width: 20%;
  margin-left: 2vh;
  overflow: hidden;
  border-radius: 20px;
}

.video-frame:hover {
  /* filter: blur(15px); */
}
.videoWrapper-two {
  transform-origin: 0%;

  position: absolute;
  width: 20%;
  margin-right: 2vh;
  overflow: hidden;
  border-radius: 20px;
  right: 0;
}
.videoWrapper-one > video {
  width: 100%;
  transform: scale(1.2);
}

.videoWrapper-two > video {
  width: 100%;
  transform: scale(1.2);
}
input[type="color"] {
  border: none !important;
  border-color: green !important;
  outline: none;
}
