@font-face {
  font-family: Unica;
  src: url("../font/Unica77LL-Medium.otf");
}
@font-face {
  font-family: CentB;
  src: url("../font/CentSchbook-BT-Roman_9757.ttf");
}
@font-face {
  font-family: CentBItalic;
  src: url("../font/newcenti.ttf");
}
@font-face {
  font-family: Velaska;
  src: url("../font/Velasca-Ultra-Trial.otf");
}

@font-face {
  font-family: Basel;
  src: url("../font/BaselGrotesk-Super.ttf");
}
@font-face {
  font-family: Circular;
  src: url("../font/lineto-circular-pro-black.ttf");
}
@font-face {
  font-family: Max;
  src: url("../font/MaxFett-Black.otf");
}
@font-face {
  font-family: Monument;
  src: url("../font/MonumentGrotesk-Black.ttf");
}
@font-face {
  font-family: Corporate;
  src: url("../font/GaramondCorporate-Regular.woff2");
}

* {
  /* font-family: "Times New Roman", Times, serif; */
  /* color: var(--allColors); */
}

:root {
  --allColors: rgb(black);

  --inactive: 666ms ease;
}
.nav {
  transition: var(--inactive);
}

.animate-in {
  -webkit-animation: fadeIn 0.3s ease-in;
  animation: fadeIn 0.3s ease-in;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.moving-banner-h {
  font-family: Corporate;
  z-index: 999999;
  position: absolute;
  font-size: 180px;
  line-height: 200px;
  text-align: center;
  -webkit-text-stroke: 1.5px black;
  /* color: rgb(250, 250, 250); */
  color: lightyellow;
  letter-spacing: -2px;
  white-space: nowrap;
  top: 40%;
  transform: translateY(-20%);
  right: 0;
  transform: translateX(100%);
  -webkit-animation-name: marqueX;
  -moz-animation-name: marqueX;
  -ms-animation-name: marqueX;
  animation-name: marqueX;
  -webkit-animation-duration: 45s;
  -moz-animation-duration: 45s;
  -ms-animation-duration: 45s;
  animation-duration: 45s;
  animation-timing-function: linear;
  animation-iteration-count: 1;

  display: flex;
  flex-direction: column;
}
.moving-banner-v {
  font-family: Corporate;
  text-transform: uppercase;
  z-index: 999999;
  position: absolute;
  font-size: 180px;
  line-height: 160px;
  text-align: center;
  -webkit-text-stroke: 1px black;
  color: rgb(250, 250, 250);
  letter-spacing: -2px;
  top: 35%;
  transform: translateY(-20%);
  right: 40%;
  transform: translateX(100%);
  -webkit-animation-name: marqueY;
  -moz-animation-name: marqueY;
  -ms-animation-name: marqueY;
  animation-name: marqueY;
  -webkit-animation-duration: 30s;
  -moz-animation-duration: 30s;
  -ms-animation-duration: 30s;
  animation-duration: 30s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  display: flex;
  flex-direction: column;
}
.moving-banner-h-invert {
  font-family: Corporate;
  z-index: 999999;
  position: absolute;
  font-size: 180px;
  line-height: 200px;
  text-align: center;
  -webkit-text-stroke: 1.5px black;
  /* color: rgb(250, 250, 250); */
  color: lightyellow;
  letter-spacing: -2px;
  white-space: nowrap;
  top: 40%;
  transform: translateY(-20%);
  right: 0;
  transform: translateX(100%);
  -webkit-animation-name: invert-marqueX;
  -moz-animation-name: invert-marqueX;
  -ms-animation-name: invert-marqueX;
  animation-name: invert-marqueX;
  -webkit-animation-duration: 45s;
  -moz-animation-duration: 45s;
  -ms-animation-duration: 45s;
  animation-duration: 45s;
  animation-timing-function: linear;
  animation-iteration-count: 1;

  display: flex;
  flex-direction: column;
}
.moving-banner-v-invert {
  font-family: Corporate;
  text-transform: uppercase;
  z-index: 999999;
  position: absolute;
  font-size: 180px;
  line-height: 160px;
  text-align: center;
  -webkit-text-stroke: 1px black;
  color: rgb(250, 250, 250);
  letter-spacing: -2px;
  top: 35%;
  transform: translateY(-20%);
  right: 40%;
  transform: translateX(100%);
  -webkit-animation-name: invert-marqueY;
  -moz-animation-name: invert-marqueY;
  -ms-animation-name: invert-marqueY;
  animation-name: invert-marqueY;
  -webkit-animation-duration: 30s;
  -moz-animation-duration: 30s;
  -ms-animation-duration: 30s;
  animation-duration: 30s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  display: flex;
  flex-direction: column;
}
.credit-banner {
  font-size: 30px;
  -webkit-text-stroke: 0.4px black;
  letter-spacing: -1px;
}
@keyframes marqueX {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-200%, 0);
  }
}
@keyframes marqueY {
  0% {
    transform: translate(0, 200%);
  }
  100% {
    transform: translate(0, -200%);
  }
}
@keyframes invert-marqueX {
  100% {
    transform: translate(100%, 0);
  }
  0% {
    transform: translate(-200%, 0);
  }
}
@keyframes invert-marqueY {
  100% {
    transform: translate(0, 200%);
  }
  0% {
    transform: translate(0, -200%);
  }
}
/* .moving-banner-h:hover {
  animation-play-state: paused;
}
.moving-banner-v:hover {
  animation-play-state: paused;
} */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 0.3; /* Firefox */
}
.playGround {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
body {
  margin: 0;
  background-color: dodgerblue;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
}

.wrapper-join {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10vh;
}
.entry-button {
  position: absolute;
  width: 100%;
  top: 40%;
  display: flex;
  justify-content: space-between;
  z-index: 9999999;
}
.entry-button > div:nth-child(1) {
  margin-left: 14vh;
}
.entry-button > div:nth-child(2) {
  margin-right: 14vh;
}
.pointer {
  z-index: 9999;
  position: absolute;
  background-image: url("/img/png.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 1%;
  height: 5%;
  padding-top: 50px;
  padding-left: 50px;
  /* background-color: #fa4c3b; */
  pointer-events: none;
}
.playGround video {
  width: 25%;
  height: 200px;
  object-fit: cover;
}
#screenShare {
  /* margin-top: 20px; */
  width: 80%;
}

.sur-footer {
  z-index: 999999999;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  margin-bottom: 5rem;
  width: 100%;
  height: 3%;
  /* background-color: red; */
}
.sur-footer > button {
  margin-left: 2em;
  margin-right: 2em;
}

.timer {
  display: flex;
  align-items: center;
}

.tool-control-P > .sur-footer {
  opacity: 0;
}
.tool-public > .sur-footer {
  opacity: 0;
}
footer input {
  width: 50% !important;
  height: 4vh;
  text-align: center;
}
footer input:focus {
  /* background-color: pink; */
}

.tool-control-H > footer {
  z-index: 999999999;
  width: 99%;
  display: flex;
  flex-direction: row-reverse;
  left: 0;
  height: 4vh;
  justify-content: space-around;
}
.tool-control-P > footer {
  z-index: 999999999;
  width: 99%;
  display: flex;
  flex-direction: row-reverse;
  left: 0;
  height: 4vh;
  justify-content: space-around;
}
.tool-public > footer {
  z-index: 999999999;
  width: 99%;
  display: flex;
  flex-direction: row-reverse;
  left: 0;
  height: 4vh;
  justify-content: space-around;
}

footer > .btn:nth-child(2) {
  background-color: red;
}
input {
  border: 0px solid !important;
  border-radius: 3px;
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.1);
}

#joinMeetingName {
  border: 0px solid !important;
  margin-top: 8px;
  border-radius: 3px;
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.1);
}
#joinMeetingId {
  margin-top: 8px;
  border-radius: 3px;
  border: 0px solid !important;
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.1);
}

.meetingId-wrapper {
  position: absolute;
  display: none;
  top: 80%;
  bottom: 0;
  z-index: 9999999999;
  width: 100%;
  font-size: 80px;
  justify-content: center;
  align-items: flex-start;
}
.meetinggId-container {
  margin-top: 5px;
}
#joinleft {
  margin-bottom: 10vh;
}
.joinvid-wrap {
  overflow: hidden;
  border-radius: 20px;
}
#joinCam {
  filter: blur(10px);

  /* backdrop-filter: blur(20px); */
  /* -webkit-backdrop-filter: blur(20px); */
  /* position: absolute; */
  margin-top: 1em;
  margin-bottom: 1em;

  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform: rotate("90");
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
h1 {
  font-weight: 100;
}
audio {
  display: none;
}

.blur {
  filter: blur(10px);
}
.join-right-wrapper > div {
  margin-top: 1rem;
}
label {
  text-align: center;
}
.card {
  position: absolute;
  z-index: 9999999999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.drop-out {
  width: 500px;
  height: 400px;
  position: absolute;
  z-index: 9999999999;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  background-color: bisque;
}

.vid-s {
  z-index: 9999;
  position: absolute;
  width: 60%;
  top: 0%;
  left: 30%;
  transition: 333ms ease;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}
.drop-zone {
  height: 20vh;
  margin-top: 5vh;
  background-color: blue;
  position: absolute;
  z-index: 99999999999999999;
}
.drop-zone__thumb {
  width: 100%;
  height: 50vh;
  background-position: center;
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-size: contain;
}
.btn {
  padding: 7px;
  border: none;
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.2);
  font-size: 15px !important;
  border-radius: 4px;
  background-color: white !important;
  /* color: #1e1d1c !important; */
  cursor: pointer;
  color: black;
}

.text-black {
  color: black;
}
.text-primary {
  color: #fa4c3b;
}

h1 {
  margin: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.primary {
  background-color: #fa4c3b;
}
.secondary {
  background-color: white;
  cursor: pointer;
  color: black;

  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.1);
}
.btn:hover {
  opacity: 0.7;
}

.main-bg {
  background-color: chartreuse;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.publicJoinRoom {
  position: absolute;
  /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
.video-frame {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotate("90");
  object-fit: cover;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.15);
}
/* *BODY  PAGE */
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 500ms ease;
}
.fontScale {
  font-size: 170px !important;
  transition: 500ms ease;
}
/* *JOINPAGE */
#joinPage {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  top: 0px;
}

/* Chat-wrapper*/
.chat-wrapper {
  border-radius: 10px;
  z-index: 99999999999;
  height: 45%;
  width: 100%;
  top: calc(50% - 22.5%);
  /* box-shadow: 0 0 65px #ccc; */
  /* display: none; */
  position: absolute;
}
/* .chats__message:hover {
    transition: 300ms ease-in-out;
    font-size: 250px;
    cursor: pointer;
  } */
.chats__message {
  font-family: Corporate;
  letter-spacing: -4px;
  line-height: 70px;

  -webkit-text-stroke: 1px black;
  font-size: 300px;
  background: none;
  /* color: rgb(220, 255, 197); */
  color: white;
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;

  border-radius: 100px;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
  transition: 500ms ease-in-out;
}
#chats {
  transition: 1s;
  transition-timing-function: cubic-bezier(0.53, 1, 0.32, 1);
  display: flex;
  overflow: scroll;
  flex-direction: column;
  /* background-color: blue; */
  justify-content: center;
  top: 50%;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  left: 50%;
}

.hide {
  display: none;
}
.me-chat {
}
footer > button {
  /* background-color: green !important; */
  /* padding: 0px; */
}
.mute {
  margin-left: 2rem;
}

.cam {
  margin-right: 2rem;
}
.cam-container {
  overflow: hidden;
  border-radius: 10px;
}
.cam-mic-controls {
  display: none;
  color: black;
  position: absolute;
  z-index: 99999999999999999;
  justify-content: space-between;
  width: 100%;
  margin-top: 5vh;
}
.chapters-controls {
  display: none;
  position: absolute;
  z-index: 99999999999999999;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5vh;
}
.end-button {
  display: none;
  position: absolute;
  z-index: 99999999999999999;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 5vh;
}
.chapters-controls-participant {
  display: none;
  position: absolute;
  z-index: 99999999999999999;
  justify-content: space-between;
  width: 100%;
  margin-top: 5vh;
}
.color-controls {
  display: none;
  position: absolute;
  z-index: 99999999999999999;
  justify-content: center;
  width: 100%;
  margin-top: 2vh;
}

.hidden {
  display: none;
}

.previewContainer {
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: dodgerblue;
  transition: 500ms ease;
  box-shadow: 0 0 65px #ccc;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.overlayContainer {
  width: 100%;
  /* height: 100%; */
  z-index: 9999999 !important;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.386);
}

/* NAV */

header {
  width: 100%;
  display: flex;
  font-size: 8px;
  justify-content: center;
  position: absolute;
  z-index: 99999;
}
nav {
  /* display: none; */
  padding-top: 1.2em;
  padding-left: 1em;
  padding-right: 1em;
}

a {
  text-decoration: none;
  color: black;
}

/* TOOOL */
main {
  height: 100vh;
}

.tools {
  /* position: absolute;
    width: 100%; */
}
.tool-control-H {
  display: none;
}
.tool-control-P {
  display: none;
}
.tool-public {
  display: none;
}
.videos-wrapper {
  position: absolute;
  z-index: 100000;
  width: 100%;
  height: 100vh;
}
.videos-container {
  z-index: 10000;
  width: 100%;
  display: flex;
  position: absolute;
  top: calc(50% - 91px);
  justify-content: space-between;
  flex-direction: row;

  transition: 500ms ease;
}

.addColorBackGround {
  background-color: green !important;
  /* transition: 500ms ease-in-out; */
  transition: 1s;
  transition-timing-function: cubic-bezier(0.53, 1, 0.32, 1);
}

.videos-wrapper > video {
  width: 100%;
  transform: scale(1.2);
}
.startButtonWrapper {
  position: absolute;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 999999999999;
  height: 100vh;
  display: none;
}
.startOtherButton {
  position: absolute;
  z-index: 1;
  display: none;
  font-size: 90px !important;
  padding: 25px;
  border-radius: 10px;
}
.startButton {
  font-size: 90px !important;
  letter-spacing: -0.5px;
  padding: 25px;
  border-radius: 10px;
}
.imageBlock {
  position: absolute;
  z-index: 999999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-size: cover;
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-size: contain;
}
.imageStyle {
  position: absolute;
  z-index: 9;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-size: cover;
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 222ms ease;
  box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.1);
}
.imageBlockWrappr {
  position: absolute;
  z-index: 9999999999;
}

.video-testWrapper {
  width: 100%;
  position: absolute;
  z-index: 999000 !important;
}
/* REDIFF */

/* SLIDER STYLING */

.slider-container {
  position: absolute;
  width: 100%;
  z-index: 100;
  bottom: 0;
  right: 0;
  margin-right: 0em;
}
.play {
  margin-left: 1em;
  height: 3vh;
  font-size: 11px !important;
}
.custom-seekbar {
  cursor: pointer;
  height: 3vh;
  background-color: white;
  /* outline: thin solid white; */
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.1);
}
.custom-seekbar span {
  /* background-color: var(--allColors); */
  background-color: dodgerblue;
  position: absolute;
  top: 0;
  left: 0;
  height: 4vh;
  width: 0px;
}

#custom-seekbar span.hover:after {
  content: "L";
  display: block;
  position: absolute;
  /* background-color: red;
    color: red; */
  top: 0;
  right: 0;
}
.range-1 {
  transform: scale(0.65) !important;
  transition: 500ms ease;
}
.range-1-lecture {
  transform: scale(0.25) !important;
}
.range-2 {
  transform: scale(0.35) !important;
  transition: 500ms ease;
}
.range-2-lecture {
  transform: scale(0.15) !important;
}

.scaling-range {
  opacity: 0;
}

.name-lecture {
  display: flex;
  align-items: center;
  color: white;
}
.name-project {
  display: flex;
  justify-content: flex-end;
  color: white;
  width: 6%;
}
/* CAM */

.videoWrapper-one {
  transform-origin: 0%;
  position: absolute;
  width: 10%;
  z-index: 999999;
  margin-left: 2vh;
  overflow: hidden;
}

[smoothen] {
  transition: all 0.33s;
}

.video-frame:hover {
  /* filter: blur(15px); */
}
.videoWrapper-two {
  /* transform-origin: 0%; */
  left: calc(50% - 100px) !important;
  position: absolute;
  width: 15%;
  margin-left: 1.5vh;
  margin-top: 1vh;
  overflow: hidden;
  justify-content: center;
  display: flex;
  /* margin-left: -60vh; */
  /* right: 0; */
}
.videoWrapper-one > video {
  width: 125%;
  transform: scale(1.28);
}

.videoWrapper-two > video {
  width: 125%;
  transform: scale(1.28);
}
input[type="color"] {
  border: none !important;
  border-color: green !important;
  outline: none;
}

/* REPLAY */

.preview-start {
  font-family: Corporate;
  cursor: pointer;
  position: absolute;
  display: flex;
  transition: 500ms ease-in-out;
  -webkit-text-stroke: black 1px;

  /* transition-timing-function: cubic-bezier(1, 0.5, 0.5, 1); */
  padding-bottom: 3vh;
  font-size: 250px;
  letter-spacing: -2px;

  color: white;

  /* -webkit-text-stroke: 0.5px green; */
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(237, 237, 237, 0.1);
  backdrop-filter: blur(10px);

  z-index: 9999999999;
}

.video-timer {
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 13px;
  z-index: 99999999 !important;
  color: white;
  bottom: 0;
  margin-left: 1vh;
  height: 3vh;
}
.pause {
  font-family: Unica;

  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 13px;
  z-index: 99999999 !important;
  color: dodgerblue;
  bottom: 0;
  right: 0;
  margin-right: 1.5vh;
  height: 3vh;
}
.pause > * {
  font-family: Unica;
  color: black;
}
.video-timer > * {
  font-family: Unica;
  color: white;
}
/* .imageStyle:hover {
  opacity: 0.5;
}
.vid-s:hover {
  opacity: 0.5;
} */
.cross {
  transition: 133ms ease;
  opacity: 0;
  height: 12px;
  width: 12px;
  top: 0;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: end;
  right: 0;
  margin-right: 28px;
  margin-top: 10px;
  background-color: white;
  position: absolute;
  border-radius: 2px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}
.info {
  transition: 133ms ease;

  opacity: 0;
  height: 12px;
  width: 12px;
  top: 0;
  right: 0;
  margin-right: 30px;
  margin-top: 10px;
  background-color: white;
  position: absolute;
  border-radius: 2px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}
.grow-p {
  transition: 133ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  height: 12px;
  width: 12px;
  top: 0;
  left: 0;
  margin-top: 5px;
  margin-left: -15px;
  border-radius: 1px;
  /* padding-left: 5px; */
  background-color: white;
  position: relative;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}
.grow {
  transition: 133ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  height: 12px;
  width: 12px;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  background-color: white;
  position: absolute;
  border-radius: 2px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}
.growSymb {
  border-radius: 1.5px;
  width: 4px;
  height: 4px;
  border: 2px solid black;
}

.infoSymb {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: end;
  justify-content: center;
  font-size: 12px;
  font-family: "Velaska";
}

.crossBar {
  height: 2px;
  width: 6px;
  margin-bottom: 2.5px;
  border-radius: 0.5px;
  background-color: black;
}

.playerMode {
  transition: var(--inactive);
}
.player-actions {
  transition: 500ms ease;
  font-family: Unica;
  font-size: 12px;
  margin-top: 4vh;
  color: black !important;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999999;
  opacity: 0;
  display: flex;
  justify-content: space-between;
}
.name-lecture:nth-child(1) {
  margin-left: 1.5vh;
  width: 6.5%;
}

.name-lecture span:hover {
  opacity: 0.7;
  cursor: pointer;
}
.name-project span:hover {
  opacity: 0.7;
  cursor: pointer;
}
.name-project {
  margin-right: 1.5vh;
}
.player-actions > div {
  cursor: pointer;
  /* margin-left: 2vh; */
  /* margin-right: 2vh; */
}
.player-actions-bottom {
  transition: var(--inactive);
  font-family: Unica;
  font-size: 12px;
  position: absolute !important;
  z-index: 9999998;
  color: black !important;
  position: absolute;
  bottom: 2vh;
  height: 3vh;
  margin-bottom: 3vh;
  /* height: 30px; */
  opacity: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-actions-bottom > div {
  cursor: pointer;
  margin-left: 1vh;
  margin-right: 1vh;
}
.scale {
  transform: scale(0.5);
}
.assets {
  opacity: 0;
}

.isMoving-b {
  cursor: not-allowed !important;
  border: 1px solid black;
}
.isMoving-w {
  cursor: not-allowed !important;
  border: 1px solid white;
}

.sum-assets {
  transition: var(--inactive);
  font-family: Unica;
  font-size: 12px;
  height: 3vh;
  background-color: white;
  z-index: 9999999;
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.1);
}
.sum-assets > * {
  padding-top: 0.1vh;
  height: 2.5vh;
  position: absolute;
}

.sum-assets > img:hover {
  opacity: 0.6 !important;
  cursor: pointer;
}

.zoom-out {
  background-color: lightgray;

  color: white;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  height: 3vh;
  padding-top: 0.8vh;
  border-radius: 20px;

  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.zoom-out:hover {
  opacity: 0.7;
}

#send-comment {
  font-family: Unica;
  width: 10vh;
  text-align: center;
  display: none;
  font-size: 20px !important;
  align-items: center;
  justify-content: center;
  height: 6vh;
  margin: 1vh;
  border-radius: 0px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: black;
  opacity: 0;
  margin-top: 4vh;
}
#send-final-link {
  font-family: Unica;
  width: 10vh;
  text-align: center;
  display: none;
  font-size: 20px !important;
  align-items: center;
  justify-content: center;
  height: 6vh;
  margin: 1vh;
  border-radius: 0px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: black;
  opacity: 1;
  margin-top: 4vh;
}

#send-link {
  font-family: Unica;
  width: 10vh;
  text-align: center;
  display: flex;
  font-size: 20px !important;
  align-items: center;
  justify-content: center;
  height: 6vh;
  margin: 1vh;
  border-radius: 0px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: black;
  opacity: 0;
  margin-top: 4vh;
}
.public-link {
  font-family: Unica;
}
.presentation:hover {
  background-color: rgb(255, 216, 164) !important;
}
/* .projet:hover {
  background-color: rgb(251, 255, 201) !important;
} */
.reference:hover {
  background-color: rgb(214, 227, 255) !important;
}
.instructions {
  position: absolute;

  font-family: Corporate;

  transition: 500ms ease;
  width: 100%;
  height: 100vh;
  opacity: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 250px;
  letter-spacing: -2px;
  z-index: 99999999999999999999999;
}

.style-presentation {
  background-color: FFC888;
  color: rgb(0, 0, 0);
  /* -webkit-text-stroke: black 3px; */
}
.style-projet {
  background-color: #1e90ff;
  /* -webkit-text-stroke: 20px black; */
  color: white;
  -webkit-text-stroke: black 1px;

  /* color: rgb(0, 0, 0); */
}
.style-ref {
  background-color: D6E3FF;
  color: rgb(0, 0, 0);
}
.assets > img {
  width: 100%;
}

.imageStyle {
  width: 20%;
}
.imageStyle > img {
  width: 100%;
}
.cross:hover {
  opacity: 0.6 !important;
  cursor: pointer;
}
.info:hover {
  opacity: 0.6 !important;
  cursor: pointer;
}
.grow:hover {
  opacity: 0.6 !important;
  cursor: pointer;
}
.grow-p:hover {
  opacity: 0.6 !important;
  cursor: pointer;
}

.fullImageWrapper {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  flex-direction: column;
  top: 0;
  align-items: center;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  /* background-color: transparent; */
  z-index: 999999999999;
  cursor: pointer;
}

.fullImageDesc {
  color: white;
  font-family: "Unica";
  margin-top: 1.5vh;
}
.fullImageWrapper > img {
  height: 85vh;
  margin-top: 5vh;
}
/* .imageBlock1 {
  margin-top: 10%;
}
.imageBlock2 {
  margin-top: 10%;
  margin-left: -30%;
} */
.infoTextWrap {
  position: absolute;
  z-index: -1 !important;
  opacity: 0;
  font-size: 17px;
  top: 0;
  margin-left: 1vh;
  margin-top: 4vh;
  z-index: 1;
}
.disabled-opa {
  opacity: 0 !important
  ;
}
.enabled-opa {
  opacity: 1 !important
  ;
}
.enabled-flex {
  display: flex !important;
}
.previewContainerGrid {
  background-color: dodgerblue;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 10000;
  height: 100vh;
  top: 0;
  opacity: 1;
  flex-direction: column;
  display: none;
  align-items: center;
  justify-content: flex-start;
  transition: 500ms ease;
  box-shadow: 0 0 65px #ccc;
}

.cam-grid {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 8.5vh;
  margin-right: 3vh;
  /* background-color: blue; */
  width: 10%;
  height: 15vh;
  opacity: 1;
  z-index: 999999999;
  transition: 500ms ease;
}
.grid-assets {
  position: absolute;
  display: none;
  align-items: end;
  justify-content: flex-start;
  bottom: 3.2vh;
  height: 18vh;
  width: 99%;
  overflow-x: scroll;
  opacity: 1;
  z-index: 99999999;
  transition: 500ms ease;
}
.grid-assets::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.grid-assets {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.thumb-grid-img {
  height: 16vh;
  display: flex;
  flex-direction: column-reverse;
  margin-left: 0.75vh;
  justify-content: initial !important;
}
.thumb-grid-img img {
  height: 100%;
}

.cam-grid-wrap {
  width: 60%;
  height: 55%;
}
.col-left {
  /* background-color: blue; */
  height: 100vh;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-right {
  /* background-color: red; */
  height: 100vh;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-left {
  /* background-color: blueviolet; */
  width: 92%;
  height: 92%;
  display: flex;
  flex-flow: wrap;
  align-content: flex-start;
}
.container-right {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  /* background-color: cyan; */
  width: 92%;
  height: 92%;
  justify-self: center;
}
.container-right > img {
  width: 40%;
  position: absolute;
}

.thumb-img {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5vh;
  /* background-color: #fa4c3b; */
  width: 9.75vh;
  height: 10vh;
  margin: 1vh;
  margin-top: 3vh;
}
.thumb-img > img {
  width: 100%;
}
.thumb-numb {
  font-family: Unica;
  font-size: 12px;
  margin-top: 3px;
  color: white;
  width: 100%;
  /* background-color: rgb(235, 235, 235); */
}

.hide-live {
  opacity: 0;
  /* transform: scale(0.7); */
}
.show-grid {
  opacity: 1;
  /* transform: scale(0.7); */
}

.switch-container {
  background-color: rgba(230, 230, 230, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 4%;
  height: 3vh;
  border-radius: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.1);

  position: relative;
}
.switch-container-bottom {
  background-color: rgba(230, 230, 230, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 5.5%;
  height: 3vh;
  border-radius: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.1);

  position: relative;
}

.toggle-layout {
  position: absolute;
  z-index: 999999;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 5px 0px 6px rgba(0, 0, 0, 0.15);
  width: 18px;
  height: 18px;
  transition: 333ms ease;
  left: 0%;
  background-color: white;
  border-radius: 30px;
  margin-left: 5px;
  margin-right: 3px;
}
.toggle-view {
  position: absolute;
  z-index: 999999;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 5px 0px 6px rgba(0, 0, 0, 0.15);
  width: 18px;
  height: 18px;
  transition: 333ms ease;
  left: 0%;
  background-color: white;
  border-radius: 30px;
  margin-left: 5px;
  margin-right: 3px;
}
.top-live-button {
  top: 21%;
}
.top-live-button-2 {
  top: 32.5%;
}
.top-live-button-3 {
  top: 37.5%;
}
.top-cam-live {
  margin-top: 10vh;
}
/* 
.top-cam-live-2 {
  margin-top: 10vh;
} */

.toggle-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  color: white;
  font-size: 11px;
}
.gridMode {
  transition: var(--inactive);
  margin-left: 7px;
  opacity: 0;
}
.dodgeColor {
  color: dodgerblue;
}

.microView {
  position: absolute;
  transition: 250ms ease;
  right: 0;
  margin-right: 5px;
  opacity: 1;
  font-size: 11px;
}
.macroView {
  transition: 250ms ease;
  margin-left: 8px;
  opacity: 0;
  left: 0;
  font-size: 11px;
  margin-bottom: 2px;
}
.switch {
  left: 50%;
}
.liveMode {
  transition: var(--inactive);
  margin-right: 7px;
  opacity: 1;
}
.shadowLeft {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), -5px 0px 6px rgba(0, 0, 0, 0.15) !important
  ;
}
.public-comment {
  width: 24%;
  height: 13vh;
  font-size: 14px;
  box-shadow: 0px -2px 10px 0px rgb(0 0 0 / 10%);
  padding: 1vh;
  font-family: "Unica";
}

.add-comment {
  border-radius: 0px;
  font-family: Unica;
  margin-top: 5vh;
  font-size: 11px !important;
}
.close-i-com {
  font-size: 20px;
  position: absolute;
  /* right: 0; */
  bottom: 10vh;
  font-family: "Unica";
}
.close-i-com:hover {
  opacity: 0.7;
  cursor: pointer;
}

.public-assets-desc {
  display: none;
}
#publicText {
  font-family: Unica;
  width: 27vh;
  text-align: center;
  display: none;
  font-size: 20px !important;
  align-items: center;
  justify-content: center;
  height: 6vh;
  margin: 1vh;
  border-radius: 0px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: black;
}
.info-comment {
  font-size: 20px;
  width: 50%;
  line-height: 25px;
  position: absolute;
  top: 5%;
  text-align: center;
  line-break: anywhere;
  font-family: "Unica";
}
.comment-interface {
  display: none;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  top: 0;
  align-items: center;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(12.5px);
  backdrop-filter: blur(12.5px);
  /* background-color: transparent; */
  z-index: 999999999999;
}
.public-add {
  position: absolute;
  /* background-color: green; */
  display: none;
  opacity: 0;
  transition: 333ms ease;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  top: 0;
  height: 3vh;

  z-index: 999999999;
}
.public-add label {
  font-family: Unica;
  width: 25vh;
  display: flex;
  font-size: 20px !important;
  align-items: center;
  justify-content: center;
  height: 4vh;
  margin: 1vh;
  border-radius: 0px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: black;
}
#publicLink {
  font-family: Unica;
  width: 27vh;
  display: flex;
  font-size: 20px !important;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 6vh;
  margin: 1vh;
  border-radius: 0px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: black;
}
.first-range-public {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms ease;
}
.first-range {
  width: 90%;
  /* transform: scale(0.7); */
  opacity: 0;
  transition: 500ms ease;
  display: none;
  height: 82%;
  /* background-color: lightgray; */
}
.second-range-public {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms ease;
}
.second-range {
  width: 90%;
  /* transform: scale(0.7); */
  opacity: 0;
  transition: 500ms ease;
  display: none;
  height: 82%;
  /* background-color: lightgray; */
}
.imageBlockWrapper {
  display: flex;
  height: 15vh;
}
.public-assets-topFirst > .imageBlockWrapper:nth-child(1) {
  margin-left: 5vh;
}
.public-assets-topLast > .imageBlockWrapper:nth-child(3) {
  margin-right: 5vh;
}
.public-assets-topFirst2 {
  position: absolute;
  transition: 333ms ease;
  opacity: 1;
  display: none;
  transition: 800ms ease;
  justify-content: space-between;
  /* background-color: green; */
  width: 86%;
  left: 7%;
  align-items: center;
  top: 5vh;
  height: 15vh;
  z-index: 99999999;
}
.public-assets-topLast2 {
  position: absolute;
  transition: 333ms ease;
  opacity: 1;
  /* background-color: violet; */
  display: none;
  transition: 800ms ease;
  justify-content: space-between;
  width: 43%;
  left: 7%;
  align-items: center;
  top: 9vh;
  height: 15vh;
  z-index: 99999999;
}
.public-assets-bottom2 {
  position: absolute;
  transition: 333ms ease;
  opacity: 1;
  /* background-color: green; */
  flex-direction: row-reverse;
  display: none;
  transition: 800ms ease;
  justify-content: space-between;
  width: 86%;
  align-items: center;
  bottom: 9vh;
  right: 7%;
  height: 15vh;
  z-index: 99999999;
}
.public-assets-left2 {
  position: absolute;
  transition: 333ms ease;
  opacity: 1;
  /* background-color: yellow; */
  display: none;
  flex-direction: column;
  transition: 800ms ease;
  justify-content: space-evenly;
  height: 50%;
  top: 25%;
  width: 10%;
  align-items: flex-start;
  left: 7%;
  z-index: 99999999;
}
.public-assets-right2 {
  position: absolute;
  transition: 333ms ease;
  opacity: 1;
  flex-direction: column;
  /* background-color: orange; */
  display: none;
  transition: 800ms ease;
  justify-content: space-evenly;
  height: 50%;
  top: 25%;
  width: 10%;
  align-items: flex-end;
  right: 7%;
  z-index: 99999999;
}
.public-assets-topFirst {
  position: absolute;
  transition: 333ms ease;
  opacity: 0;
  display: flex;
  transition: 800ms ease;
  justify-content: space-between;
  width: 40%;
  right: 10%;
  align-items: center;
  top: 9vh;
  height: 13vh;
  z-index: 99999999;
}

.public-assets-topLast {
  position: absolute;
  transition: 333ms ease;
  opacity: 1;
  /* background-color: violet; */
  display: flex;
  transition: 800ms ease;
  justify-content: space-between;
  width: 40%;
  left: 10%;
  align-items: center;
  top: 9vh;
  height: 13vh;
  z-index: 99999999;
}
.public-assets-bottom {
  position: absolute;
  transition: 333ms ease;
  opacity: 1;
  /* background-color: green; */
  flex-direction: row-reverse;
  display: flex;
  transition: 800ms ease;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  bottom: 9vh;
  right: 10%;
  height: 13vh;
  z-index: 99999999;
}
.public-assets-left {
  position: absolute;
  transition: 333ms ease;
  opacity: 1;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  transition: 800ms ease;
  justify-content: space-evenly;
  height: 50%;
  top: 25%;
  width: 10%;
  align-items: flex-start;
  left: 10%;
  z-index: 99999999;
}
.public-assets-right {
  position: absolute;
  transition: 333ms ease;
  opacity: 1;
  flex-direction: column;
  /* background-color: orange; */
  display: flex;
  transition: 800ms ease;
  justify-content: space-evenly;
  height: 50%;
  top: 25%;
  width: 10%;
  align-items: flex-end;
  right: 10%;
  z-index: 99999999;
}
.public-img {
  height: 100%;
  box-shadow: 0px -2px 10px 0px rgb(0 0 0 / 10%);
}
.public-vid video {
  width: 15%;
}
.moving-banner-h video {
  width: 40%;
}
.moving-banner-h-invert video {
  width: 40%;
}

.moving-img {
  background-color: rgba(230, 230, 230, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0px -2px 10px 0px rgb(0 0 0 / 10%);
  display: flex;
  height: 30%;
  justify-content: center;
  align-items: center;
}
.moving-img img {
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  height: 90%;
}

.moving-vid {
  background-color: rgba(230, 230, 230, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0px -2px 10px 0px rgb(0 0 0 / 10%);
  display: flex;
  height: 30%;
  justify-content: center;
  align-items: center;
}
.moving-vid video {
  width: 94%;
  height: 94%;
}

.sub-titles-wrapper {
  /* mix-blend-mode: difference; */
  transition: var(--inactive);
  font-family: Unica;
  font-size: 45px;
  letter-spacing: -1px;
  line-height: 45px;
  position: absolute !important;
  z-index: 99999999;
  color: yellow !important;
  position: absolute;
  -webkit-text-stroke: 1px black;

  bottom: 10vh;
  height: 3vh;
  /* height: 30px; */
  opacity: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
