@font-face {
  font-family: Unica;
  src: url("../font/Unica77LL-Medium.otf");
}
.playGround {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
body {
  cursor: url("/img/png.png"), auto;
  margin: 0;
}

.pointer {
  z-index: 9999;
  position: absolute;
  background-image: url("/img/png.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 1%;
  height: 5%;
  padding-top: 50px;
  padding-left: 50px;
  /* background-color: #fa4c3b; */
  pointer-events: none;
}
.playGround video {
  width: 25%;
  height: 200px;
  object-fit: cover;
}
#screenShare {
  /* margin-top: 20px; */
  width: 80%;
}

.sur-footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  margin-bottom: 4rem;
  width: 100%;
  height: 3%;
  /* background-color: red; */
}

footer input {
  width: 50% !important;
  height: 4vh;
}

footer {
  width: 99%;
  display: flex;
  flex-direction: row-reverse;
  left: 0;
  height: 4vh;
  justify-content: space-between;

  /* background-color: blue; */
}
footer > .btn:nth-child(2) {
  background-color: red;
}
input {
  border: 0px solid !important;
  margin-top: 8px;
  border-radius: 3px;
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.1);
}
#joinMeetingName {
  border: 0px solid !important;
  margin-top: 8px;
  border-radius: 3px;
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.1);
}
#joinMeetingId {
  margin-top: 8px;
  border-radius: 3px;
  border: 0px solid !important;
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.1);
}

.meetingId-wrapper {
  position: absolute;
  display: none;
  top: 80%;
  bottom: 0;
  z-index: 9999999999;
  width: 100%;
  font-size: 80px;
  justify-content: center;
  align-items: flex-start;
}
.meetinggId-container {
  margin-top: 5px;
}
#joinleft {
  margin-bottom: 10vh;
}
#joinCam {
  filter: blur(10px);
  /* backdrop-filter: blur(20px); */
  /* -webkit-backdrop-filter: blur(20px); */
  /* position: absolute; */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform: rotate("90");
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
audio {
  display: none;
}

.blur {
  filter: blur(10px);
}
.join-right-wrapper > div {
  margin-top: 1rem;
}
label {
  text-align: center;
}

* {
  font-family: Unica;
}
.btn {
  padding: 7px;
  border: none;
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.3);
  font-size: 15px !important;
  border-radius: 4px;
  background-color: white !important;
  color: #1e1d1c !important;
  cursor: pointer;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.text-primary {
  color: #fa4c3b;
}
.text-secondary {
  color: #1e1d1c;
}
h1 {
  margin: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.primary {
  background-color: #fa4c3b;
}
.secondary {
  background-color: white;
  cursor: pointer;

  color: #1e1d1c;
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.1);
}
.btn:hover {
  opacity: 0.7;
}

.main-bg {
  background-color: #f0f0eb;
}
.video-frame {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform: rotate("90");
  object-fit: cover;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/* *BODY  PAGE */
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* *JOINPAGE */
#joinPage {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  top: 0px;
}

/* Chat-wrapper*/
.chat-wrapper {
  /* background-color: red; */
  z-index: -1;
  height: 100vh;
  top: 0%;
  width: 100%;
  padding-top: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: transparent;
  position: absolute;
  /* top: calc(50% - 300px);
  left: calc(50% - 150px); */
}
#chats {
  display: flex;
  overflow: scroll;
  flex-direction: column;
  /* background-color: blue; */
  top: 50%;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  left: 50%;
}

.hide {
  display: none;
}
.me-chat {
}
footer > button {
  /* background-color: green !important; */
  /* padding: 0px; */
}
.mute {
  /* margin-right: 2rem; */
}
#startRecording-btn {
  margin-right: 2rem;
}
.cam {
  margin-left: 2rem;
}
.cam-container {
  overflow: hidden;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.previewContainer {
  width: 100%;
  height: 100%;
  background-color: rgba(223, 223, 223, 0.1);
}

.overlayContainer {
  width: 100%;
  /* height: 100%; */
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.386);
}

/* NAV */

header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 99999;
}
nav {
  padding-top: 1.2em;
  padding-left: 1em;
  padding-right: 1em;
}

a {
  text-decoration: none;
  color: black;
}

/* TOOOL */

main {
  height: 100vh;
}
.tool-control {
  display: none;
}
.videos-wrapper {
  position: absolute;
  z-index: 100000;
  width: 100%;
  height: 100vh;
}
.videos-container {
  /* z-index: 3000; */
  width: 100%;
  display: flex;
  position: absolute;
  top: calc(50% - 20%);
  justify-content: space-between;
  flex-direction: row;
}

.chats__message {
  font-size: 50px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.videos-wrapper > video {
  width: 100%;
  transform: scale(1.2);
}
.startButtonWrapper {
  position: absolute;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 999999999999;
  height: 100vh;
  display: none;
}
.startOtherButton {
  position: absolute;
  z-index: 1;
  display: none;
  font-size: 50px !important;
  padding: 25px;
  border-radius: 10px;
}
.startButton {
  font-size: 50px !important;
  padding: 25px;
  border-radius: 10px;
}
.imageBlock {
  width: 50%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-size: contain;
}
/* REDIFF */

/* SLIDER STYLING */

.slider-container {
  position: absolute;
  width: 98%;
  z-index: 100;
  bottom: 15;
  right: 0;
  margin-right: 1em;
}
.play {
  margin-left: 1em;
  height: 4vh;
  font-size: 11px !important;
}
.custom-seekbar {
  cursor: pointer;
  height: 4vh;
  border-radius: 14px;
  background-color: white;
  /* outline: thin solid white; */
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 95%;
  box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.2);
}
.custom-seekbar span {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 4vh;
  width: 0px;
}

#custom-seekbar span.hover:after {
  content: "L";
  display: block;
  position: absolute;
  /* background-color: red;
  color: red; */
  top: 0;
  right: 0;
}

/* CAM */

.videoWrapper-one {
  transform-origin: 0%;
  position: absolute;
  width: 20%;
  margin-left: 2vh;
  overflow: hidden;
  border-radius: 20px;
}
.videoWrapper-two {
  transform-origin: 0%;

  position: absolute;
  width: 20%;
  margin-right: 2vh;
  overflow: hidden;
  border-radius: 20px;
  right: 0;
}
.videoWrapper-one > video {
  width: 100%;
  transform: scale(1.2);
}

.videoWrapper-two > video {
  width: 100%;
  transform: scale(1.2);
}
